includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
parameters:
    level: max
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    paths:
        - src
        - tests
    symfony:
        console_application_loader: bin/console
    bootstrapFiles:
        - tests/bootstrap.php
    ignoreErrors:
        - '#Method App\\Infrastructure\\Repository\\[a-zA-Z0-9\\_]+Repository::findOne\(\) should return App\\Domain\\Entity\\[a-zA-Z0-9\\_]+\|null but returns object\|null.#'
